.commits-list {
    .commits-label {
        .open {
            &::after {
                content: '▼';
            }
            .commits-menu {
                display: block;
            }
        }
        .closed {
            &::after {
                content: '▲';
            }
            .commits-menu {
                display: none;
            }
        }
    }
}