

@font-face {
    font-family: 'DM Mono';
    src: local('DM Mono Regular'), local('DMMono-Regular'),
        url('./dmmono-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Mono';
    src: local('DM Mono Medium Italic'), local('DMMono-MediumItalic'),
        url('./dmmono-medium-italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
body {
  margin: 0;
  font-family: 'DM Mono';
  font-size: .9em;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left !important;
}
button {
  cursor: pointer;
}
.rate-limit-info {
  font-size: 0.7rem;
}
.container {
  max-width: 1000px;
    margin: 0 auto;
}
.diff-loading-info {
  display: flex;
  flex-direction:row;
}
.grid-content {
  padding-top: 50px;
}
.small {
  font-size: 0.7rem;
  text-align: left;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
header {
  overflow: hidden;
}

.App {
  padding: 40px;
  max-width: 1500px;
  margin: 0 auto;
}

.search-button {
  width: 95%;
}

.table-dialogue {
  text-align: left;
  font-size: 11px;
  font-weight: 600;
}
